@model MoneyTransferWeb.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" id="addBalance">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addBalanceLabel">កែប្រែអតិថិជន</h4>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
				<div class="row">
					<div class="col-md">
						<form asp-action="Edit">
							<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input type="hidden" asp-for="ClientID" />
							<div class="form-group">
								<label asp-for="ClientName" class="control-label"></label>
								<input asp-for="ClientName" class="form-control" />
								<span asp-validation-for="ClientName" class="text-danger"></span>
							</div>
							
							<div class="form-group">
								<label asp-for="ClientSex" class="control-label"></label>
								<select asp-for="ClientSex" class="form-control" asp-items="ViewBag.Gender"></select>
								<span asp-validation-for="ClientSex" class="text-danger"></span>
							</div>
							
							<div class="form-group">
								<label asp-for="PhoneNo" class="control-label"></label>
								<input asp-for="PhoneNo" class="form-control" />
								<span asp-validation-for="PhoneNo" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Address" class="control-label"></label>
								<input asp-for="Address" class="form-control" />
								<span asp-validation-for="Address" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Detail" class="control-label"></label>
								<textarea asp-for="Detail" class="form-control"></textarea>
								<span asp-validation-for="Detail" class="text-danger"></span>
							</div>
							@*<div class="form-group">
							<label asp-for="CreatedDateTime" class="control-label"></label>
							<input asp-for="CreatedDateTime" class="form-control" />
							<span asp-validation-for="CreatedDateTime" class="text-danger"></span>
							</div>*@
							<div class="form-group">
								<input type="submit" value="Save" class="btn btn-primary" />
							</div>
						</form>
					</div>
				</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-save="modal">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
